.header {
  background-color: #1c2536;
  width: 100%;
}

.header1 {
  height: 80px;
  border-bottom: 1px solid #2f3746;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoImg {
  padding: 10px;
  height: 60px;
}

.exitImg {
  padding: 20px;
  height: 40px;
  cursor: pointer;
}

.header2 {
  height: 40px;
}

.btn {
  border-radius: 8px;
  border: none;
  width: 200px;
  height: 40px;
  background-color: #1c2536;
  color: #98a0a9;
  font-size: 18px;

  &:hover {
    color: #f1ffff;
    background-color: #252e3e;
    cursor: pointer;
  }
}

.sidebar {
  height: 85vh;
  width: 250px;
  color: #98a0a9;
  background-color: #1c2536;
  border-right: 1px solid #2f3746;
  border-top: 1px solid #2f3746;
  overflow-y: auto;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: #5d6472;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #5d6472;
  }
}

.item {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  height: 30px;
  cursor: pointer;
  outline: none;
  white-space: nowrap;

  &:hover {
    color: #f1ffff;
    background-color: #252e3e;
    border-radius: 8px;
  }
}

.content {
  display: flex;
}

.content1 {
  margin: 10px;
  height: 100%;
  width: 40vw;
  color: #98a0a9;
}

.content2 {
  color: #98a0a9;
  border-left: 3px dashed #2f3746;
  height: 100vh;
  width: 42vw;
}

.info {
  display: flex;
}

.nameButton {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.name {
  font-size: 28px;
}

.infoUser {
  background-color: #1c2536;
  border-radius: 16px;
  height: 100%;
  padding: 10px;
  width: 96.5%;
  border: 1px solid #7ca4ae;
}

.block {
  display: flex;
}

.idButton {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2970ff;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: #004eeb;
  }
}

.ico {
  width: 70%;
  height: 70%;
}

.form_delete {
  width: 350px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.idBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}