body {
  display: flex;
  width: 100%;
  height: 98vh;
  background-color: #0e1320;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
}

.login {
  height: 100%;
  width: 199vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  color: #151b23ff;
  background-color: #1c2536;
  border-radius: 25px;
  border: 2px solid #7ca4ae;
  color: #7ca4ae;
}

.form {
  width: 50%;
}

.button {
  margin-top: 15px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border: 0px currentcolor;
  width: 100%;
  height: 40px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.71429;
  text-transform: unset;
  font-family: 'Public Sans', sans-serif;
  border-radius: 8px;
  transition: background-color 100ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  color: rgb(255, 255, 255);
  background-color: #7ca4ae;
  box-shadow: none;

  &:hover {
    box-shadow: #2970ff93 0px 8px 16px 0px;
    background-color: #151b23ff;
    text-decoration: none;
    color: #ffffff;
  }
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #7ca4ae;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-color: #2970ff;
  border-image-slice: 1;
}

.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.header {
  background-color: #1c2536;
  width: 100%;
}

.header1 {
  height: 80px;
  border-bottom: 1px solid #2f3746;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoImg {
  padding: 10px;
  height: 60px;
}

.exitImg {
  padding: 20px;
  height: 40px;
  cursor: pointer;
}

.header2 {
  height: 40px;
}

.btn {
  border-radius: 8px;
  border: none;
  width: 200px;
  height: 40px;
  background-color: #1c2536;
  color: #98a0a9;
  font-size: 18px;

  &:hover {
    color: #f1ffff;
    background-color: #252e3e;
    cursor: pointer;
  }
}

.sidebar {
  height: 85vh;
  width: 250px;
  color: #98a0a9;
  background-color: #1c2536;
  border-right: 1px solid #2f3746;
  border-top: 1px solid #2f3746;
  overflow-y: auto;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: #5d6472;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #5d6472;
  }
}

.item {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  height: 30px;
  cursor: pointer;
  outline: none;
  white-space: nowrap;

  &:hover {
    color: #f1ffff;
    background-color: #252e3e;
    border-radius: 8px;
  }
}

.content {
  display: flex;
}

.content1 {
  margin: 10px;
  height: 100%;
  width: 40vw;
  color: #98a0a9;
}

.content2 {
  color: #98a0a9;
  border-left: 3px dashed #2f3746;
  height: 100vh;
  width: 42vw;
}

.info {
  display: flex;
}

.nameButton {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.name {
  font-size: 28px;
}

.createButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2970ff;
  color: #ffffff;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 28px;
  transition: all 0.02s ease-in-out;

  &:active {
    transform: scale(0.9);

    &::before {
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
      z-index: -1;
    }
  }

  &:hover {
    background-color: #004eeb;
  }
}

.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.popup_active {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: 0.5s;
}

.popup_content {
  padding: 20px;
  border-radius: 16px;
  border: solid 1px #7ca4ae;
  box-shadow: 0 0 2rem #7ca4ae, 0 0 0.8rem #7ca4ae, inset 0 0 1rem #7ca4ae;
  background-color: #1c2536;
  transform: scale(0.5);
  transition: 0.4s all;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup_content_active {
  padding: 20px;
  border-radius: 16px;
  border: solid 1px #7ca4ae;
  box-shadow: 0 0 2rem #7ca4ae, 0 0 0.8rem #7ca4ae;
  background-color: #1c2536;
  transform: scale(1);
  transition: 0.4s all;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formCreate {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  margin: 20px;
  align-items: center;
  justify-content: center;

  & * {
    width: 300px;
  }
}

.popupName {
  font-size: 28px;
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 70px;
}

.input {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  background-color: #1c2536;
  border: solid 1px #7ca4ae;
  border-radius: 10px;
  padding-left: 10px;
  outline: #7ca4ae;
  color: #ffffff;

  &::placeholder {
    color: #7ca4ae;
  }

  &:hover {
    box-shadow: 0 0 0.8rem #7ca4ae;
  }
}

.infoBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.infoUser {
  background-color: #1c2536;
  border-radius: 16px;
  height: 100%;
  padding: 10px;
  width: 96.5%;
  border: 1px solid #7ca4ae;
}

.idBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block {
  display: flex;
}

.idButton {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2970ff;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: #004eeb;
  }
}

.ico {
  width: 70%;
  height: 70%;
}

.form_delete {
  width: 350px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.createCar {
  background-color: #2970ff;
  color: #ffffff;
  border-radius: 8px;
  width: 137px;
  margin-top: 10px;
  padding: 5px;
  transition: all 0.02s ease-in-out;

  &:active {
    transform: scale(0.9);

    &::before {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
      z-index: -1;
    }
  }

  &:hover {
    background-color: #004eeb;
  }
}

.carItem {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 10px;
  margin-top: 10px;
  height: 30px;
  cursor: pointer;
  outline: none;
  white-space: nowrap;

  &:hover {
    color: #f1ffff;
    background-color: #252e3e;
    border-radius: 8px;
  }
}

.userCars {
  margin-left: 4px;
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: none;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: none;
  }
}

.userCarsBlock {
  width: 100%;
  height: 100%;
  background-color: #1c2536;
  border-radius: 16px;
  border: 1px solid #7ca4ae;
  margin-top: 10px;
  padding-bottom: 5px;

}

.carInfo {
  background-color: #1c2536;
  width: 95%;
  border: 1px solid #7ca4ae;
  border-radius: 16px;
  padding: 10px;
  margin: 10px;
}

.createCarButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border {
  color: #2f3746;
  font-size: 29px;
}

.deleteButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.OrderCreate {
  background-color: red;
  width: 100px;
  height: 100px;
}

.createOrder {
  background-color: #2970ff;
  color: #ffffff;
  border-radius: 8px;
  width: 230px;
  margin-top: 10px;
  padding: 5px;
  transition: all 0.02s ease-in-out;

  &:active {
    transform: scale(0.9);

    &::before {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
      z-index: -1;
    }
  }

  &:hover {
    background-color: #004eeb;
  }
}

.createOrderButton {
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workList {
  margin: 10px;
  padding: 10px;
  height: 370px;
  background-color: #1c2536;
  border: solid 1px #7ca4ae;
  border-radius: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: #5d6472;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #5d6472;
  }
}

.workListName {
  display: flex;
  justify-content: space-between;
}

.PlateBlock {
  display: flex;
  width: 200px;
  height: 40px;
  border: 2px solid #343134;
  border-radius: 10px;
}

.registerPlateBlue {
  background-color: #002EBA;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;
}

.registerPlateFlag {
  margin-bottom: 5px;
  width: 15px;
  height: 10px;
}

.registerPlateFlagBlue {
  background-color: #0076FD;
  width: 100%;
  height: 50%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.registerPlateFlagYellow {
  background-color: #FFD451;
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.registerPlateUA {
  font-size: 12px;
  color: #EBF8FE;
}

.registerPlateText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #EBF8FE;
  color: #343134;
  font-size: 28px;
  font-weight: 600;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.PlateBlockMini {
  display: flex;
  width: 125px;
  height: 25px;
  border: 1px solid #343134;
  border-radius: 3px;
}

.registerPlateBlueMini {
  background-color: #002EBA;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20px;
}

.registerPlateFlagMini {
  margin-bottom: 5px;
  width: 10px;
  height: 5px;
}

.registerPlateFlagBlueMini {
  background-color: #0076FD;
  width: 100%;
  height: 50%;
}

.registerPlateFlagYellowMini {
  background-color: #FFD451;
  width: 100%;
  height: 50%;
}

.registerPlateUAMini {
  font-size: 8px;
  color: #EBF8FE;
}

.registerPlateTextMini {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #EBF8FE;
  color: #343134;
  font-size: 18px;
  font-weight: 600;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.margin {
  margin-right: 10px;
}